.todoBodyFooter{
    display: flex;
    justify-content: center;
}
.todoBodyFooterButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    color: white;
    font-size: 40px;
    border: 1px solid #5ca8e0;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(10,203,245,1) 0%, rgba(29,119,223,1) 100%);
}

@media screen and (max-width: 600px) {
    .todoBodyFooter{
        justify-content: end;
        margin: 0px 15px 11px 0px;
    }
}